watch_file .tool-versions

asdf_has editorconfig-checker || asdf plugin add editorconfig-checker
asdf_has python || asdf plugin add python
asdf_has poetry || asdf plugin add poetry

asdf install | sed '/is already installed/d'
use asdf

layout poetry

has pipx || use pipx
has pre-commit || pipx install 'pre-commit>=3.6.1'
use pre-commit
